<div class="top-social-bar">
  <div class="top-social-left">
    <a href="https://www.instagram.com/spencerandthecity/" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/instagram.png" alt="Instagram" class="social-img-icon">
    </a>
    <a href="https://www.facebook.com/profile.php?id=61573834333893" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/facebook.png" alt="Facebook" class="social-img-icon">
    </a>
    <a href="https://www.tiktok.com/@thepetsociety_paris" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/tiktok.png" alt="TikTok" class="social-img-icon">
    </a>
    <a href="https://wa.me/3369238799" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/WhatsApp.png" alt="WhatsApp" class="social-img-icon">
    </a>
    <a href="mailto:hello@thepetsociety.paris">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/mail.png" alt="Email" class="social-img-icon">
    </a>
  </div>

  <div class="top-social-right">
    <a href="/?locale=en">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/flag-en.png" alt="English" class="flag-icon">
    </a>
    <a href="/fr">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/flag-fr.png" alt="Français" class="flag-icon">
    </a>
    <a href="/de">
      <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/flag-de.png" alt="Deutsch" class="flag-icon">
    </a>
  </div>
</div>