<div class="top-social-bar">
  <div class="social-icons-left">
    <a href="https://www.instagram.com/..." target="_blank"><img src="instagram.png" class="social-img-icon" alt="Instagram"></a>
    <a href="https://www.facebook.com/..." target="_blank"><img src="facebook.png" class="social-img-icon" alt="Facebook"></a>
    <a href="https://www.tiktok.com/..." target="_blank"><img src="tiktok.png" class="social-img-icon" alt="TikTok"></a>
    <a href="https://wa.me/..." target="_blank"><img src="whatsapp.png" class="social-img-icon" alt="WhatsApp"></a>
    <a href="mailto:..." target="_blank"><img src="mail.png" class="social-img-icon" alt="Email"></a>
  </div>

  <div class="language-selector-right">
    <a href="/"><img src="flag-en.png" class="flag-icon" alt="English"></a>
    <a href="/fr"><img src="flag-fr.png" class="flag-icon" alt="Français"></a>
    <a href="/de"><img src="flag-de.png" class="flag-icon" alt="Deutsch"></a>
  </div>
</div>